<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.modiwu.mah">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/OblAppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SpecActivityTheme">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/OblAppTheme.Main"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".ui.activity.SchemeDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.LoginAnimActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ShopCartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.YYHouseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible">
        </activity>
        <activity
            android:name=".ui.activity.SchemeSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.HouseSampleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ConstructionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.AboutMahActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.DesignerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ShopDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ShopSubActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.MeContentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.MeOrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.MeOrderListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.MeFangAnActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.MeShouCangActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.LocalListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ShopToBuyAvtivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.SchemeOrderCreateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ShopPayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ManagerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.ManagerClient2Activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.LocalCreateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible">
        </activity>
        <activity
            android:name=".ui.activity.DecorateAllProjectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.DecorateSelectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.DecorateCreateProActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.ManagerClientActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.MessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.MessageDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.DecorateShiGongRegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.DecorateAddProjectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.DecorateShiGongActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.MessageChangeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible">
        </activity>
        <!--微信-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.DecorateProDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".wxapi.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP"/>
            </intent-filter>
        </receiver>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <!--支付宝-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <!--bugly-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent"/>
        <!--融云-->
        <activity
            android:name=".ui.activity.ConversationOneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="com.modiwu.mah"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ActivityCustomCapture"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="com.modiwu.mah"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>

        <!--7.0 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"
                tools:replace="name,resource"/>

        </provider>

        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="${RONG_KEY}"
            tools:replace="android:value"/>

    </application>

</manifest>